 .brochure{
     text-align: center;
     margin: 0 auto;
     color:whitesmoke;

 }

body{
    background: url('../signin.jpeg') no-repeat center center fixed;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}