 .brochure{
     text-align: center;
     margin: 0 auto;
     /*background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5),*/
     background-image: url("./frontend/static/src/backgroundImages/med.png");
     font-size: 50px;
 }

