{% extends "registration/base.html" %}

{% block content %}


<div class="brochure">
    <h1 class="index">Welcome To Efficent Emergency! </h1>


    <h3 class="index">We make getting critical lifesaving information quickly and accurately a reality.</h3>
    <p class="index"> Cut out mis information from callers by directing them to a unique text - link to upload images of victims at
        the scene.</p>
    <p class="index"> This makes getting critical information about injury severity and location efficient and easy, while still
        maintaining
        verbal contact with the caller. </p>

    <button class="index"><a href="{% url 'accounts:signup' %}">Click Here to Signup! </a></button>
    <button class="index"><a href="{% url 'accounts:login' %}">Login Here! </a></button>
</div>


{% endblock content %}