img{
  height:200px;
  width:300px;
  padding: 50px;
}

.topDispatch{
  border: 2px red solid;
}

.switch{
  text-align: center;
  margin-left: 75%;
}
.imagesFromClient{
  border: greenyellow solid 2px;
  margin: 50px 30px;

}
 button{
   margin:10px;
 }

 li{
   list-style: none;
   display: inline-block;
   border: 1px grey solid;
   margin: 10px;

 }