img {
    /*height: 100%;*/
    /*width: 100%;*/
    padding: 2%;
    border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

.detail-images{
    width: 35%;
    height: 35%;
    margin:10px;
}

.topDispatch {
    border: 2px red solid;
}

.switch {
    text-align: center;
    margin-left: 75%;
}

/*.imagesFromClient {*/
    /*border: greenyellow solid 2px;*/
    /*margin: 50px 30px;*/

/*}*/

button {
    margin: 10px;
}

li {
    list-style: none;
    display: inline-block;
    border: 1px grey solid;
    margin: 10px;
    padding:7px;
    text-align: center;

    /*flex-grow: 1;*/

}

.scene-photo-ul {
    margin: 0 auto;
    background-color: lavenderblush;
    display: inline-block;
}

.scene-div {
    background-color: lightcyan;
}

.please-submit-photo {
    color: dimgrey;
    text-align: center;
}



.index {
    text-align: center;
}

#image-drop-down{
    margin: 0 auto;
    padding: 0;

}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

/*.card-body{*/
    /*width: 300px;*/
/*}*/



