img {
    height: 100%;
    width: 100%;
    padding: 2%;
}

.topDispatch {
    border: 2px red solid;
}

.switch {
    text-align: center;
    margin-left: 75%;
}

.imagesFromClient {
    border: greenyellow solid 2px;
    margin: 50px 30px;

}

button {
    margin: 10px;
}

li {
    list-style: none;
    display: inline-block;
    border: 1px grey solid;
    margin: 10px;
    width: 30%;
    flex-grow: 1;

}

.scene-photo-ul {
    margin: 0 auto;
    background-color: lavenderblush;
    display: inline-block;
}

.scene-div {
    background-color: lightcyan;
}

.please-submit-photo {
    color: dimgrey;
    text-align: center;
}

.brochure {
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5)),
    url('https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwit8uuwu4rhAhUiSN8KHZ4ZDEcQjRx6BAgBEAU&url=https%3A%2F%2Fwww.parasol.edu.au%2Fcanberra-first_aid%2F&psig=AOvVaw3_STTLI-iK_tJfZN_EP_fC&ust=1552956294567767');

}

.index {
    text-align: center;
}